<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >
    <h1 expand="block">Stacc Challenge</h1>
    <br>
    <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-list lines="full">
        <ion-item>
            <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        </ion-item>
        </ion-list>
        <br>
        <ion-button expand="full" type="submit" [disabled]="!credentials.valid">Log in</ion-button>
        <br>
        <ion-button expand="full" size="small" type="button" (click)="signup()" [disabled]="!credentials.valid" color="secondary">Sign up</ion-button>
    </form>
</ion-content>
