<ion-header>
  <ion-toolbar>
    <ion-title>Your bids</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="getBids()">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <h1>
        Your Bids:
    </h1>
    <ion-grid>
        <ion-row *ngFor="let bid of bids">
            <ion-col (click)="openDetailView(bid.contract_address, bid.token_id)">
                <h3>Name: {{bid.name}}</h3>
                <div style="text-align: center;">
                    <p>
                        <strong>Amount:</strong>
                        <br />
                        {{bid.amount}} WEI
                        <br />
                        <span *ngIf="bid.amount > 1000000000000000"> = {{bid.amount/1000000000000000000}} ETH</span>
                    </p>
                    <p>
                        <strong>Placed bid:</strong>
                        <br />
                        {{bid.createdAtString}}
                    </p>
                </div>
                <hr>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
