<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title *ngIf="asset != null">{{asset.name}}</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="loadBids()">
            <ion-icon slot="icon-only" name="refresh"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <img *ngIf="asset != null" [src]="asset.image_preview_url"  style="width: 100%;" />
    <ion-grid>
        <ion-row>
            <ion-col>
                <strong><p>Last sale:</p></strong>
            </ion-col>
            <ion-col size="8" style="text-align: right;">
                <p *ngIf="asset.last_sale != null">
                    <span *ngIf="currency == 'wei'">{{asset.last_sale.total_price}} WEI</span>
                    <span *ngIf="currency == 'eth'">{{asset.last_sale.total_price/1000000000000000000}} ETH</span>
                </p>
                <p *ngIf="asset.last_sale == null">No last sale</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <form (ngSubmit)="placeBid()" [formGroup]="bidData">
        <ion-list lines="full">
            <ion-item>
                <ion-label>
                    <strong>Amount:</strong>
                </ion-label>
                <ion-input placeholder="Amount" value="" type="number" formControlName="amount" style="text-align: right;"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                    <strong>Currency:</strong>
                </ion-label>
                <ion-select formControlName="currency" [value]="currency">
                    <ion-select-option value="wei">WEI</ion-select-option>
                    <ion-select-option value="eth">ETH</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-button type="submit" fill="clear" expand="block">Submit bid</ion-button>
    </form>
    <hr >
    <div *ngIf="bids.length > 0">
        <h2>Bids:</h2>
        <ion-list lines="full">
            <ion-item *ngFor="let bid of bids">
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <p *ngIf="bid.isuser">Your bid</p>
                        </ion-col>
                        <ion-col size="9">
                            <h6>
                                <span *ngIf="currency == 'wei'">{{bid.amount}} WEI</span>
                                <span *ngIf="currency == 'eth'">{{bid.amount/1000000000000000000}} ETH</span>
                            </h6>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
